NODE_ENV=test
PORT=3001

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=wallet_user
DB_PASSWORD=your_password
TEST_DB_NAME=demo_credit_wallet_test

ADJUTOR_BASE_URL=https://adjutor.lendsqr.com/v2
ADJUTOR_API_KEY=your_api_key_here
